<div id="uploaded_albums_inner">
    <div class="row">
      {% for album in uploaded_albums %}
          <div class="col-6 col-sm-4 col-md-6 mb-3">
              <div class="card">
                  <a href="{% url 'album_rater:album_detail' album_slug=album.slug %}">
                      {% if album.art %}
                          <img src="{{ album.art.url }}" alt="{{ album.title }}" class="card-img-top album-cover">
                      {% else %}
                          <div class="card-img-top text-center py-4 album-cover">{{ album.title|slice:":10" }}</div>
                      {% endif %}
                      <div class="card-body">
                          <p class="card-text album-title">{{ album.title }}</p>
                      </div>
                  </a>
              </div>
          </div>
      {% empty %}
          <p>No uploaded albums.</p>
      {% endfor %}
    </div>
    {% if uploaded_albums.has_other_pages %}
    <div class="pagination mt-3">
        {% if uploaded_albums.has_previous %}
            <a href="?page_uploaded={{ uploaded_albums.previous_page_number }}&partial=uploaded_albums" class="ajax-pagination">Previous</a>
        {% endif %}
        <span>Page {{ uploaded_albums.number }} of {{ uploaded_albums.paginator.num_pages }}</span>
        {% if uploaded_albums.has_next %}
            <a href="?page_uploaded={{ uploaded_albums.next_page_number }}&partial=uploaded_albums" class="ajax-pagination">Next</a>
        {% endif %}
    </div>
    {% endif %}
  </div>
  