{% extends 'album_rater/base.html' %}
{% load static %}

{% block title_block %}
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block main_block %}
<!-- Main Content -->
<main class="container about-section">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card about-card p-4">
                <h2 class="about-title">About</h2>
                <p><strong>Description of the Website:</strong></p>
                <p>
                    Welcome to <em>MyAlbumRater</em>, a place where music lovers from all around the world can rate,
                    review, and
                    discover their favorite albums. We offer:
                </p>
                <ul>
                    <li>Real-time charts to see what's currently trending</li>
                    <li>A powerful search engine to find albums by artists or genres</li>
                    <li>A user-friendly review system to express your thoughts on the latest releases</li>
                </ul>
                <p>
                    Whether you're a die-hard music aficionado or just browsing for new tunes, MyAlbumRater aims to
                    make your
                    experience both fun and informative. We hope you enjoy exploring new albums, connecting with
                    fellow fans,
                    and sharing your opinions with our growing community!
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}