{% extends 'album_rater/base.html' %}
{% load static %}

{% block title_block %}
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block main_block %}
<!-- Change Password Form -->
<div class="change-container">
    <div class="change-card">
        <h4>Change Password</h4>
        <form>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Enter new password">
            </div>
            <div class="mb-3">
                <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmNewPassword"
                    placeholder="Re-enter new password">
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
        <div class="change-footer">
            <p><a href="#">Cancel</a></p>
        </div>
    </div>
</div>
{% endblock %}

