{% extends 'album_rater/base.html' %}
{% load static %}

{% block title_block %}
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main_block %}
<!-- Main Container -->
<div class="container my-4">
    <!-- Welcome & Upload -->
    <div class="welcome-section">
        <h2>Welcome, {{ user.username }}</h2>
        <button class="btn btn-primary" id="create_album_button" data-url="{% url 'album-rater:upload' %}">Upload Album</button>
    </div>

    <!-- Most Popular Albums -->
    <div class="form-control mb-3 mt-3 border-3">
        <section>
            <div class="section-header">
                <h4>Most Popular Albums</h4>
                <a href="#">Full List</a>
            </div>
            <div class="row g-3">
                {% if popular_albums %}
                {% for album in popular_albums %}
                <div class="col-6 col-sm-4 col-md-2">
                    {% include 'album_rater/album_card.html' with album=album %}
                </div>
                {% endfor %}
                {% else %}
                    <p>No popular albums at the moment.</p>
                {% endif %}
            </div>
        </section>
    </div>

    {% if user.is_authenticated %}
    <div class="form-control mb-3 border-3">
        <!-- Albums Users You Follow Rated -->
        <section>
            <div class="section-header">
                <h4>Albums Users You Follow Rated</h4>
                <a href="#">Full List</a>
            </div>
            <div class="row g-3">
                {% if albums_rated_by_followed %}
                {% for album in albums_rated_by_followed %}
                <div class="col-6 col-sm-4 col-md-2">
                    {% include 'album_rater/album_card.html' with album=album %}
                </div>
                {% endfor %}
                {% else %}
                <p>No albums rated by followers.</p>
                {% endif %}
            </div>
        </section>
    </div>
    {% endif %}

    <!-- Newest Albums -->
    <div class="form-control mb-3 border-3">
        <section>
            <div class="section-header">
                <h4>Newest Albums</h4>
                <a href="#">Full List</a>
            </div>
            <div class="row g-3">
                {% if recent_albums %}
                {% for album in recent_albums %}
                <div class="col-6 col-sm-4 col-md-2">
                    {% include 'album_rater/album_card.html' with album=album %}
                </div>
                {% endfor %}
                {% else %}
                    <p>No albums have been uploaded, add some yourself!</p>
                {% endif %}
            </div>
        </section>
    </div>
</div>

<!-- Footer -->
<footer>
    <a href="{% url 'album-rater:about' %}">About</a>
</footer>
{% endblock %}

{% block js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}