{% extends 'album_rater/base.html' %}
{% load static %}

{% block title_block %}
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/log_in.css' %}">
{% endblock %}

{% block main_block %}

<!-- Login Form -->
<div class="login-container">
    <div class="login-card">
        <h4>Log In</h4>
        <form id="log_in" method = "post" action = "{% url 'album-rater:log_in' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="Submit" />
        </form>
        <div class="login-footer">
            <p>Don't have an account? <a href="{% url 'album-rater:register' %}">Sign Up</a></p>
        </div>
    </div>
</div>
{% endblock %}
