{% extends "album_rater/base.html" %}
{% block title %}{{ user_profile.user.username }}'s Profile - MyAlbumRater{% endblock %}
{% block content %}
<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 text-center">
          {% if user_profile.picture %}
              <img src="{{ user_profile.picture.url }}" alt="Avatar" class="img-fluid rounded-circle" style="width:150px; height:150px; object-fit: cover;">
          {% else %}
              <div class="bg-secondary text-white rounded-circle d-flex align-items-center justify-content-center" style="width:150px; height:150px;">
                  <span>Avatar</span>
              </div>
          {% endif %}
        </div>
        <div class="col-md-8">
          <h2 class="card-title">{{ user_profile.user.username }}</h2>
          <p class="card-text">{{ user_profile.bio|default:"This user hasn't provided a description yet."|linebreaksbr }}</p>
          {% if request.user.is_authenticated and request.user.username == user_profile.user.username %}
              <a href="{% url 'album_rater:edit_profile' %}" class="btn btn-outline-primary">Edit Profile</a>
              <a href="{% url 'album_rater:password_change' %}" class="btn btn-outline-secondary">Change Password</a>
              <a href="{% url 'album_rater:logout' %}" class="btn btn-outline-secondary">Logout</a>
              <a href="{% url 'album_rater:delete_account' %}" class="btn btn-danger">Delete Account</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Uploaded Albums</h4>
      <div id="uploaded_albums_container">
        {% include "album_rater/_uploaded_albums.html" %}
      </div>
    </div>
    <div class="col-md-6">
      <h4>Rated Albums</h4>
      <div id="rated_albums_container">
        {% include "album_rater/_rated_albums.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
